.menu {
  min-height: calc(100vh);
  overflow: hidden;
}

.activity-popover {
  // width: 304px;
  // height: 112px;
  position: absolute;
  top: 115px;
  left: 95px;
  border-radius: 15px;
  background: var(--bs-white);
  box-shadow: 0 0 9px rgba(45, 45, 45, 0.15);
}
.activity-popover-tail {
  position: absolute;
  top: -5px;
  left: 0;
  filter: drop-shadow(-2px -3px 5px rgba(75, 59, 59, 0.15));
}
.activity-popover-defaule {
  // opacity: 1;
  // transition: all .5s ease-in-out;
  transform: translate(0, 0);
  transition: height .25s ease-out, translate .55s ease-out;
}
.activity-popover-card {
  opacity: 0;
  // transition: max-height 0.15s ease-out;
}
.activity-popover-content {
  width: 304px;
  height: 112px;
  // overflow: hidden;
  // transition: height .25s ease-out, translate .25s ease-out;
  transition: all .25s ease-out;
  &.active {
    // height: 412px;
    & > .activity-popover-defaule {
      transform: translate(0, 300px);
    }
  }
  // &.active > .activity-popover-defaule {
  // }
}

:root.dark-mode {
  .color-theme {
    background-image: url(../images/color_theme_toggle_moon_LG.svg);
  }
}

.color-theme {
  width: 66px;
  height: 34px;
  background-image: url(../images/color_theme_toggle_sun_LG.svg);
  cursor: pointer;
  transition: .3s all ease;
}

// loading 時彈跳效果
.popup-content-bounce-in-up {
  -webkit-animation-name: popup_content_bounce_in_up;
  -moz-animation-name: popup_content_bounce_in_up;
  -o-animation-name: popup_content_bounce_in_up;
  animation-name: popup_content_bounce_in_up;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes popup_content_bounce_in_up {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.sticky-popup {
  position: relative;
  width: 100%;
  bottom: -86.3%;
  cursor: pointer;
  &.open {
    bottom: 0;
  }
  &.open .popup-content {
    opacity: 1;
  }
  &.open .popup-header {
    transform: translateY(.5px);
    transition:.3s;
  }
}
// sticky_popup bottom 效果
.open_sticky_popup {
  -webkit-transition: bottom .6s;
  -moz-transition: bottom .6s;
  -o-transition: bottom .6s;
  transition: bottom .6s;
}

.popup-header {
  transition: .1s;
  transform: translateY(10px);
  border: 2px solid var(--bs-body-color);
  background: var(--bs-gray-100);
  &:hover {
    transform: translateY(.5px);
    transition: .3s;
  }
}

.popup-content {
  width: 100%;
  height: 40%;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--bs-gray-100);
  opacity: 0;
  transition: opacity .8s;
}
.popup-body {
  height: 10%;
  overflow-x: hidden;
}

.popup-content-trapezoid {
  width: 100%;
  border-top: 8px solid var(--bs-body-color);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  transition: .3s;
}

// dot scooter
.circle-item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: 400;
  color: #cccccc;
  &.active {
    color: var(--bs-body-color);
    & .circle-item-triangle {
      border-color: transparent transparent transparent var(--bs-body-color);
    }
    & .circle-item-number {
      color: var(--bs-body-color);
      &::after {
        border-color: var(--bs-body-color);
        background: var(--bs-secondary);
        color: var(--bs-body-color);
      }
    }
  }
  &.done {
    color: var(--bs-body-color);
    & .circle-item-triangle {
      border-color: transparent transparent transparent var(--bs-body-color);
    }
    & .circle-item-number {
      color: var(--bs-white);
      &::after {
        border-color: var(--bs-body-color);
        background: var(--bs-gray-900);
        color: var(--bs-white);
      }
    }
  }
}
.circle-item-number {
  z-index: 1;
  margin-right: 18px;
  &::after {
    content: '';
    position: absolute;
    top: .7rem;
    left: 83%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    border: 2px solid var(--bs-secondary);
    border-radius: 50%;
    background-color: var(--bs-primary);
    transition: 0.3s linear;
    z-index: -1;
  }
}
.circle-item-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8.7px;
  border-color: transparent transparent transparent var(--bs-gray-500);
}

.dog-scooter {
  width: 100px;
  height: 80px;
  position: absolute;
  bottom: calc(0% - 30px);
  right: -40px;
  z-index: 100;
  transform: translateY(-0) scaleX(-1);
  transition: 0.4s ease;
  
  .a{fill:#d980bb;}
  .b{fill:#2d2d2d;}
  .c{fill:#fff;}
  .d{fill:#fcc11e;}
  .e{fill:#335d2e;}
  .f{fill:#0497b9;}
  .g{fill:#ec132f;}
  .h{fill:#fec920;}
}

.progress-bar {
  height: calc(100% - 1px);
  width: 4px;
  position: absolute;
  right: 20px;
  outline: 1px solid var(--bs-body-color);
  background-color: transparent;
}
.progress {
  height: 0%;
  width: 4px;
  position: absolute;
  bottom: 0;
  background-color: var(--bs-secondary);
  transition: 0.4s ease;
}