// dev test: map background image
.map-js {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999;
  & img {
    min-height: 100%;
    width: 100%;
  }
}

.activity-card {
  margin-top: 140px;
}

.activity-card-height {
  height: calc(50vh - 40px);
}

.activity-card-search li + li {
  margin-bottom: 1.25rem;
}

.btn-check {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

.city-select-list {
  width: 285px;
  max-height: 0;
  position: absolute;
  top: 118%;
  left: 50%;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0px 0px 25px rgba(45, 45, 45, 0.4);
  background: #fff;
  transform: translate(-50%, -57%);
  transition: max-height 0.3s cubic-bezier(0,-0.14,0,.91);
  & .city-collapse-title {
    background: var(--bs-gray-300);
  }
}

.city-select {
  &:hover ~ .city-collapse-select, 
  &:checked ~ .city-collapse-select {
    background: var(--bs-primary);
    box-shadow: 0px 0px 0px 5px rgba(252, 193, 30, 0.4);
  }
  &:checked + .city-select-list{
    max-height: 100vh;
    transition: max-height 0.65s linear;
  }
}

.city-collapse-label {
  color: var(--bs-gray-700);
  &:hover {
    color: var(--bs-secondary);
  }
}

.city-collapse-tag {
  & li {
    display: inline-block;
    margin-top: .75rem;
    margin-left: 1rem;
  }
}

.btn-check[type="radio"]:checked {
  & + .city-collapse-label { 
    color: var(--bs-secondary);
  }
}

@media (min-width: 414px) {
  .city-select-list {
    top: 115%;
    left: auto;
    right: 0;
    transform: translate(0, 0);
  }
  .activity-card {
    margin-top: 150px;
  }
}

@media (min-width: 768px) {
  .activity-card-height {
    height: calc(100vh - 96px);
  }
}

@media (min-width: 992px) {
  .activity-card {
    margin-top: 166px;
  }
}

@media (min-width: 1366px) {
  .activity-card {
    margin-top: 182px;
  }
}