$utilities: map-merge(
  $utilities,
  (
    "font-weight": map-merge(
      map-get($utilities, "font-weight"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "font-weight"), "values"), $font-weights
        )
      )
    ),
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "font-weight"), "values"), (
            'm': 8px,
          )
        )
      )
    ),
    "cursor": (
      property: cursor,
      responsive: true,
      class: cs,
      values: pointer
    ),
  )
);


