$utilities: map-merge(
  $utilities,
  (
    "font-weight": map-merge(
      map-get($utilities, "font-weight"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "font-weight"), "values"), $font-weights
        )
      )
    ),
    "line-height": map-merge(
      map-get($utilities, "line-height"),
      (
        responsive: true,
      )
    ),
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "rounded"), "values"), (
            'm': 8px,
          )
        )
      )
    ),
    "cursor": (
      property: cursor,
      responsive: true,
      class: cs,
      values: pointer
    ),
    "top": map-merge(
      map-get($utilities, "top"), (
        responsive: true
      )
    ),
    "position": map-merge(
      map-get($utilities, "position"), (
        responsive: true
      )
    ),
    "border": map-merge(
      map-get($utilities, "border"),
      (
        values: map-merge(
          map-get(map-get($utilities, "border"), "values"), (
            'transparent': transparent,
          )
        )
      )
    ),
  )
);


