$white:         #ffffff !default;
$gray-100:      #f9f9f9 !default;
$gray-200:      #f6f6f6 !default;
$gray-300:      #f2f2f2 !default;
$gray-400:      #ececec !default;
$gray-500:      #cccccc !default;
$gray-600:      #909090 !default;
$gray-700:      #6f6f6f !default;
$gray-800:      #4b4b4b !default;
$gray-900:      #2d2d2d !default;
$black:         #131313 !default;

$primary:       #FEF9E4 !default;
$secondary:     #FCC11E !default;
$yellow:        #FFFAB7 !default;
$green:         #E0FFB7 !default;
$blue:          #D1F4FF !default;
$purple:        #E0D1FF !default;
$pink:          #F2B8FF !default;
$success:       #34C759 !default;
$danger:        #EC132F !default;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "danger":     $danger,
  "yellow":     $yellow,
  "green":      $green,
  "blue":       $blue,
  "purple":     $purple,
  "pink":       $pink,
  "light":      $gray-100,
) !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,        //  4
  2: $spacer * .5,         //  8
  3: $spacer * .75,        // 12
  4: $spacer * 1,          // 16
  5: $spacer * 1.25,       // 20
  6: $spacer * 1.5,        // 24
  7: $spacer * 1.75,       // 28
  8: $spacer * 2,          // 32
  9: $spacer * 2.25,       // 36
  10: $spacer * 2.5,       // 40
  11: $spacer * 2.75,      // 44
  12: $spacer * 3,         // 48
  13: $spacer * 3.25,      // 52
  14: $spacer * 3.5,       // 56
  'l': $spacer * 4.5,      // 72
) !default;

$font-sizes: (
  1: 1rem,                 // 16
  2: 1.5rem,               // 24
  3: 1.25rem,              // 20
  4: 1.125rem,             // 18
  5: .875rem,              // 14
  6: .75rem,               // 12
  7: .625rem,              // 10
  'm': .6875rem,           // 11
  'l': 2rem,               // 32
) !default;

$font-weights: (
  3: 300,                  
  4: 400,                  
  5: 500,                  
  6: 600,                  
  7: 700,                  
  9: 900,                  
) !default;

$position-values: (
  0: 0,
  15: 15%,
  35: 35%,
  50: 50%,
  100: 100%
) !default;

$grid-gutter-width:                 .9375rem !default; // 15

$font-family-han:                  'source-han-serif-sc', serif;
$font-family-noto:                 'Noto Sans TC', sans-serif;
$line-height-base:                  1.5 !default;
$body-bg:                           $primary !default;
$body-color:                        $black !default;
$paragraph-margin-bottom:           0 !default;
$link-decoration:                   underline !default;
$link-color:                        $black !default;
$link-hover-color:                  shift-color($secondary, 20%) !default;
$text-muted:                        rgba(19, 19, 19, 0.6) !default;

// h1~h6
$headings-margin-bottom:            0 !default;
$headings-line-height:              1.25 !default;

// Options
$enable-negative-margins:           true !default;
$enable-reduced-motion:             false !default;
$enable-important-utilities:        true !default;
$enable-rfs:                        false !default;

$border-width:                      2px !default;
$border-color:                      $black !default;

// Button
$btn-padding-y-sm:                  .125rem !default;
$btn-padding-x-sm:                  .75rem !default;
$btn-font-size-sm:                  .75rem !default;
$btn-padding-y:                     .25rem !default;
$btn-padding-x:                     1rem !default;
$btn-font-size:                     .875rem !default;
$btn-padding-y-lg:                  .5rem !default;
$btn-padding-x-lg:                  1rem !default;
$btn-font-size-lg:                  1rem !default;
// $btn-line-height:                   1.25rem !default;
$btn-border-radius-lg:              25px !default;
$btn-border-radius-sm:              25px !default;
$btn-border-radius:                 25px !default;
