.activity-popover {
  position: absolute;
  top: 115px;
  left: 95px;
  border-radius: 15px;
  background: var(--bs-white);
  box-shadow: 0 0 9px rgba(45, 45, 45, 0.15);
}
.activity-popover-content {
  position: relative;
  width: 141px;
  height: 40px;
  overflow: hidden;
  transition: all 0.3s linear;
  &::before {
    content: url(../images/Tail.svg);
    position: absolute;
    top: -5px;
    left: 0;
    display: block;
    filter: drop-shadow(-2px -3px 5px rgba(75, 59, 59, 0.15));
  }
  &.active {
    transition: all 0.3s 0.15s linear;
    height: 395px;
    width: 382px;
  }
  &.active > .activity-popover-default {
    transition: all 0.1s linear;
    opacity: 0;
  }
  &.active > .activity-popover-card {
    transition: all 0.3s 0.15s linear;
    visibility: visible;
  }
  &.close {
    transition: height 0.3s linear, padding 0.1s 0.2s linear;
    height: 0;
    padding: 0 !important;
  }
}
.activity-popover-default {
  transition: all 0.1s 0.18s linear;
}
.activity-popover-card {
  background: var(--bs-white);
  white-space: nowrap;
  visibility: hidden;
  .card_top {
    width: 100%;
    position: relative;
    left: 0px;
    transition: all 0.4s linear;
    transition: all 0.3s linear;
    .activity-popover-card-item {
      display: inline-block;
      position: relative;
      * {
        white-space: normal;
      }
    }
  }
  .card_bottom {
    position: relative;
    padding-top: 1rem;
  }
}
@media (min-width: 1400px) {
  .activity-popover-content {
    width: 304px;
    height: 112px;
    &.active {
      width: 304px;
      height: 418px;
    }
    &.close {
      transition: height 0.3s linear, padding 0.1s 0.2s linear;
      height: 0;
      padding: 0 !important;
    }
  }
}
