.dot-menu {
  width: 15px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.dot {
  background: var(--bs-body-color);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transition: all .6s cubic-bezier(.66,-0.45,.35,1.39);
}
.line2 {
  position: relative;
  bottom: 4px;
  transform: rotateZ(-45deg);
}
.line1 {
  position: relative;
  top: 3px;
  transform: rotateZ(45deg);
}

// dot-menu effect code at dot-menu.scss："&.open .popup-header .popup-title .dot-menu {}"