.dot-menu {
  width: 15px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.dot {
  background: var(--bs-body-color);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transition: all .6s cubic-bezier(.66,-0.45,.35,1.39);
}
.line2 {
  position: relative;
  bottom: 4px;
  transform: rotateZ(-45deg);
}
.line1 {
  position: relative;
  top: 3px;
  transform: rotateZ(45deg);
}

.dot-menu.active {
  .dot1{
    transform: translateY(12px);
  }
  .dot2 {
    transform: translateY(-12px);
  }
  .line1 {
    width: 20px;
    border-radius: 0px;
    top: 4px;
  }
  .line2 {
    width: 20px;
    transform: rotateZ(-45deg);
    border-radius: 0px;
  }
}